body {
    background: #0d1148;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

header {
    height: 0;
}

footer {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 0)', endColorstr='#1c9692', GradientType=0);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #1c9692 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #1c9692 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #1c9692 100%);
}

.row {
    margin-bottom: 0;
}

.page-footer {
    background-color: rgba(0, 0, 0, 0);
}

.stylized {
    font-family: 'Berkshire Swash', cursive;
}

.post-nav {
    font-weight: bold;
    color: #1c9692;
}

.post-title {
    display: inline-block;
    white-space: nowrap;
    background: #2bd4cf;
    padding: 0;
    margin: 0;
    padding-left: 0.5em;
    margin-left: -44px;
    margin-bottom: 12px;
    border-radius: 2px;
    border-bottom-left-radius: 0px;
    position: relative;
    width: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.arrow {
    width: 0;
    height: 0;
    line-height: 0;
    border-left: 20px solid transparent;
    border-top: 10px solid #1c9692;
    top: 100%;
    left: 0;
    position: absolute;
}

.title {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    transform: translate3d(0.500em, 0.100em, 0em);
    letter-spacing: 1.1000em;
    font-size: 2em;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    -moz-text-orientation: upright;
    -ms-text-orientation: upright;
    text-orientation: upright;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .title {
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-duration: 2s;
        animation-name: title;
    }
}

@supports (-ms-ime-align: auto) {
    .title {
        animation-name: none;
    }
}

@keyframes title {
    0% {
        transform: translate3d(0.500em, 0.200em, 0em);
        letter-spacing: 1.1000em;
        font-size: 2em;
    }

    100% {
        transform: translate3d(0.250em, 0.000em, 0em);
        letter-spacing: 0.0200em;
        font-size: 4em;
    }
}

.card {
    background-color: #ffffff;
}

img {
    width: 100%;
}

@media (max-device-width: 990px) {
    main {
        width: auto;
        margin-left: 4em;
    }
}

@media (max-device-height: 570px) {
    .footer-cont {
        width: auto;
        margin-left: 4em;
    }
}

#post-card {
    overflow-x: visible;
    overflow-y: hidden;
}

.post-content {
    font-size: 1.25em;
}
