.floatycube {
    display: block;
    position: fixed;
    transform: rotate(0deg);
    background-color: rgba(255, 255, 255, 0.5);
    width: 1em;
    height: 1em;
    left: 0vh;
    bottom: -5vh;
    animation-iteration-count: infinite;
    animation-name: float;
    animation-timing-function: ease-out;
}

@keyframes float {
    0% {
        width: 1em;
        height: 1em;
        bottom: -5vh;
        background-color: rgba(255, 255, 255, 0.5);
        transform: rotate(0deg);
    }

    70% {
        background-color: rgba(255, 255, 255, 0);
    }

    100% {
        width: 0.25em;
        height: 0.25em;
        bottom: 40vh;
        background-color: rgba(255, 255, 255, 0);
        transform: rotate(720deg);
    }
}
